@charset "utf-8";

/* CSS Document */

.ps-fr {
float: right;
margin: 0px 0px 1em 1.5em;
padding: 0.5em;
border: 1px solid #CCCCCC;
background: #F0F0F0;
}

.ps-long {
margin: 0px 0px 1em;
padding: 0.5em;
border: 1px solid #CCCCCC;
background: #F0F0F0;
}