@charset "utf-8";

/* CSS Document */

#exercise-list {
display: none;
}

#download {
text-align: right;
margin: 0px;
padding: 1em 1em 0px 0px;
}

#download p {
margin: 0px;
padding: 0px;
}

#download a img {
margin: 0px 0px .75em;
padding: 0px;
}

#class-div {
margin: 0px;
padding: 0px;
}

#class-div h1 {
color: #474351;
margin-bottom: 1em;
font-size: 1.7em;
}

#class-div h2 {
color: #CD3625;
margin-bottom: 0.75em;
font-size: 1.3em;
}

#class-div h3 {
color: #647795;
margin: 0px 0px 1em .5em;
padding: 0px;
font-size: 1.2em;
font-weight: bold;
}

#class-div h4 {
color: #793329;
margin: 0px 0px 1em;
padding: 0px;
font-style: normal;
font-size: 1.2em;
}

#class-div p {
margin-left: .5em;
}

#class-div table {
margin: 0px;
padding: 0px;
border-style: none;
border-collapse: collapse;
}

#class-div td {
margin: 0px;
padding: 0.5em .5em 0.5em 0em;
border-style: none;
font-size: 1.2em;
text-align: center;
vertical-align: top;
}

#class-div td h5 {
margin: 0px;
padding: 0.5em 2em 0.5em 0em;
border-style: none;
text-align: left;
color: #CC3300;
}
