@charset "utf-8";

/* CSS Document */

.mar-bottem {
margin: 0px 0px 4em;
padding: 1em 0px 0px;
}

.flash-fl {
margin: 0px;
padding: 0px;
float: left;
}

.flash-workspace {
margin: 0px 0px 0px 544px;
padding: 11px 0px 0px;
}

.flash-fr {
margin: 0px 0px 1em 1em;
padding: 0px;
float: right;
}

.flash-frames1 {
margin: 0px 0px 4em 13em;
padding: 0px 0px 0em;
}

.flash-frames2 {
margin: 0px 0px 4em 20em;
padding: 0px 0px 0em;
}

.flash-types {
margin: 0px 0px 4em 13em;
padding: 0px 0px 0em;
}

.flash-bitmap-vector {
margin: 0px 0px 4em 39em;
padding: 0px 0px 0em;
}

.flash-imgs {
margin: 0px 0px 4em 35em;
padding: 0px 0px 0em;
}

.flash-center {
margin: 1em auto;
text-align: center;
}

.flash-flbrd {
float: left;
margin: 0px 0px 1em 1.5em;
padding: 0.5em;
border: 1px solid #999;
background: #CCC;
}
